.green2-bar {
	background-color: rgb(140,195,100);
	width:43px;
	height:9px;
	position:absolute;
	margin-left: 1341px;
	margin-top: 96px;
	border-radius: 10px ;
	visibility: visible !important;
}

a#green2 {
	color: rgb(140,195,100);
	visibility: visible !important;
}