@font-face {
	font-family: "Avenir Bold" ;
	src: url(../fonts/avenir-bold.ttf);
}

@font-face {
	font-family: "Avenir Regular";
	src:url(../fonts/avenir-regular.ttf);
}



.green-bar {
	background-color: rgb(140,195,100);
	width:80px;
	height:9px;
	position:absolute;
	margin-left: 935px;
	margin-top: 96px;
	border-radius: 10px ;
	visibility: visible !important;
}

#main-navi a#green {
	color: rgb(140,195,100);
	visibility: visible !important;
}

#main-banner-header {
	font: 2.7em "Avenir Bold" ;
	color: rgb(112,112,112);
	letter-spacing: 1.3px;
}

#main-banner #main-banner-header {
	margin-left:1060px; 
	margin-top:-3427px;
}

#bullets-list {
	margin-left:1039px;
	margin-top: -15px;
	font: normal 16px "Arial";
	color: rgb(112,112,112);
}

