@font-face {
	font-family: "Futura Book" ;
	src: url("../fonts/FuturaStd-Book.ttf") ;
}

@font-face {
	font-family: "Gibson" ;
	src: url("../fonts/Gibson.ttf") ;
}

html, body, footer {
	margin: 0;
	padding: 0;
}

body {
	background-color:rgb(255, 255, 255);
}

/* Page Background Color Schemes */

 #top-bar .change-color {
	background-color:rgb(22,143,197);
	width:100%;
	height:66px;
	margin-top: 100px;
}

#top-bar .change-color2 {
	background-color:rgb(240,240,240);
	width:100%;
	height:568px;
    margin-top: -4px;
}

#top-bar .change-color3 {
	background-color:rgb(255,255,255);
	width:100%;
	height:384px;
    margin-top: -4px;
}

#top-bar .change-color4 {
	background-color: rgb(240,240,240);
	width: 100%;
	height: 530px;
	margin-top: -4px;
	margin-bottom: 5px;
}

#top-bar .change-color5 {
	background-color: rgb(255,255,255);
	width: 100% ;
	height: 325px ;
	margin-top: -4px;
}

#top-bar .change-color6 {
	background-color: rgb(240,240,240);
	width: 100%;
	height: 420px;
	margin-top: -4px;
}

.change-color7 {
	background-color: rgb(240,240,240);
	width: 100%;
	height:72px;
	margin-top: 2952px;
	margin-bottom: -5px;
}

/* End of Page Background Color Schemes */





/* Navigation */

#main-navi {
	position:absolute;
	margin-left:940px;
	margin-top: 74px;
}

#main-navi .nav {
	text-decoration: none;
}

#main-navi .nav {
	font: normal 18px "Gibson" ;
}

.nav {
	padding-right: 23px ; 
}

/* End of Navigation */




/* #green class color links */

a#green {
	color: rgb(170,170,170);
}

a#green:hover {
    color: rgb(140,195,100);
}

a#green:active {
	color: rgb(140,195,100);
}

/* End of #green class color links */



/* #purple class color links */

a#purple {
	color:rgb(170,170,170);
}

a#purple:hover {
	color: rgb(119,35,124);
}

a#purple:active {
	color: rgb(119,35,124);
}

/* End of #purple class color links */




/* #aqua class color links */

a#aqua {
	color: rgb(170,170,170);
}

a#aqua:hover {
	color: rgb(29,184,185);
}

a#aqua:active {
	color: rgb(29,184,185);
}

/* End of #purple class color links */




/* #light-red class color links */

a#light-red {
	color: rgb(170,170,170);
}

a#light-red:hover {
	color: rgb(205,67,101);
}

a#light-red:active {
	color: rgb(205,67,101);
}

/* End of #light-red class color links */



/* #green2 class color links */

a#green2 {
	color: rgb(170,170,170);
}

a#green2:hover {
	color: rgb(140,195,100);
}

a#green2:active {
	color: rgb(140,195,100);
}

/* End of #green2 class color links */




/* #grey class color links */

a#grey {
	color: rgb(170,170,170);
}

a#grey:hover {
	color: rgb(119,119,119);
}

a#grey:active {
	color: rgb(119,119,119);
}

/* End of #grey class color links */




/* color bars */

.green-bar {
	background-color: rgb(140,195,100);
	width:80px;
	height:9px;
	position:absolute;
	margin-left: 935px;
	margin-top: 96px;
	border-radius: 10px ;
	visibility: hidden; ;
}

.purple-bar {
	background-color: rgb(119,35,124);
	width:80px;
	height:9px;
	position:absolute;
	margin-left: 1028px;
	margin-top: 96px;
	border-radius: 10px ;
	visibility: hidden;
}

.aqua-bar {
	background-color: rgb(29,184,185);
	width:80px;
	height:9px;
	position:absolute;
	margin-left: 1121px;
	margin-top: 96px;
	border-radius: 10px ;
	visibility: hidden;
}

.light-red-bar {
	background-color: rgb(205,67,101);
	width:110px;
	height:9px;
	position:absolute;
	margin-left: 1214px;
	margin-top: 96px;
	border-radius: 10px ;
	visibility: hidden;
}

.green2-bar {
	background-color: rgb(140,195,100);
	width:43px;
	height:9px;
	position:absolute;
	margin-left: 1338px;
	margin-top: 96px;
	border-radius: 10px ;
	visibility: hidden;
}

.grey-bar {
	background-color: rgb(119,119,119);
	width:43px;
	height:9px;
	position:absolute;
	margin-left: 1395px;
	margin-top: 96px;
	border-radius: 10px ;
	visibility: hidden;
}





.image-1 {
	position:absolute;
	margin-left: 435px;
	margin-top: -2237px ;
}

.nav-bar-text {
	position:absolute;
    margin-top: 117px;
    margin-left: 608px;
    color: white ;
}

.nav-bar-text {
	font: normal 14px "Futura Book"
}

.shift-1 {
	position: absolute;
	margin-top: 117px;
	margin-left: 566px;
}

.rerum {
	font: normal 14px "Futura Book"
}

a.rerum {
	color: rgb(255,255,255);
}

a.rerum:hover {
	color: rgb(255,255,255);
}

a.rerum:active {
	color: rgb(255,255,255);
}

.arrow {
	position:absolute;
	margin-left: 349px ;
	margin-top: -1674px ;
}